.topnav {
    background-color: #1e180b;
    overflow: hidden;
    
    
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #6b644d;
    color: white;
  }

  body {
    background-image:
    url(https://upload.wikimedia.org/wikipedia/commons/e/e7/Everest_North_Face_toward_Base_Camp_Tibet_Luca_Galuzzi_2006.jpg);
    margin: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1e5991;
    
  }

  .banner-text {
    text-align: center;
    align-items: center;
    width: 500 px;
    margin: auto;
    position: relative;
    top: 20%;
    transform: translateY(60%);
    
  }

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 50px;
  }

  h5 {
    font-size: 50px;
  }

  button {
    padding: 30px;
    font-size: 40px;
    border-radius: 20px;

  }
